[build-system]
requires = ["setuptools >= 77.0.3"]
build-backend = "setuptools.build_meta"

[project]
name = "assignment1"
version = "0.0.0"
requires-python = ">=3.9"
dependencies = [
    "pytest",
    "matplotlib"
]